body {
  font-family: 'Winky Sans', sans-serif; /* Make sure the font is applied here */
}

/* You can also target specific elements if needed */
h1, label, input, button {
  font-family: 'Winky Sans', sans-serif;
}

.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: grid;
  gap: 16px;
}

label {
  font-size: 1rem;
  font-weight: bold;
}

input {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #444444;
  border-radius: 4px;
  background-color: #33045a;
  color: #ffffff;
  width: 100%;
}

input:focus {
  border-color: #f34a8e;
  outline: none;
}

button {
  padding: 12px;
  background-color: #f34a8e;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

button:hover {
  background-color: #e03d77;
}

button:active {
  background-color: #d3386e;
}

/* Image background styling */
.bg-cover {
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image: url('https://res.klook.com/image/upload/v1673236312/v2rfb2znqw8ktmprsczd.jpg');
}

/* Error message styling */
span {
  color: red;
  font-size: 0.9rem;
  font-weight: bold;}